body {
  font-family: Verdana, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #040404;
}

* {
  box-sizing: border-box;
}

/** Safari */
@media not all and (min-resolution: 0.001dpcm) {
  #menu .container {
    border-image: url('assets/menu_border_scaled.png') 30 fill / 30px / 30px round !important;
  }
}

@supports (-webkit-touch-callout: none) {
  #menu .container {
    border-image: url('assets/menu_border_scaled.png') 30 fill / 30px / 30px round !important;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100% !important;
  }
}

#find {
  padding-bottom: 0;
  padding-top: 60px;
}

.button {
  background-color: #040404;
  border: solid #f8bf05 3px;
  color: white;
  padding: 15px 32px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 30px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.white {
  color: #fff;
}

.black {
  color: #040404;
}

.orange {
  color: #f8bf05;
}

.yellow {
  color: #fcda09;
}

svg.white {
  fill: #fff;
}

svg.orange {
  fill: #f8bf05;
}

header {
  background: rgb(252,218,9);
  background: radial-gradient(circle, rgba(252,218,9,1) 0%, rgba(248,191,5,1) 50%);
  color: #fff;
  padding: 10px 0;
}

header h2 {
  margin: 0;
}

h2 {
  font-family: Verdana, sans-serif;
}

nav ul {
  padding: 0;
  display: inline-block;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
  float: left;
}

nav ul li a {
  text-decoration: none;
  color: #f8bf05;
}

#menu .container {
  background-color: #040404;
  padding: 1em;
  color: #fff;
  width: 800px;
  min-height: 600px;
  max-width: 80%;
  border-image: url('assets/menu_border.png') 200 fill / 30px / 30px round;
}

.item .title {
  color: #f8bf05;
  font-size: 23px;
}

.item .fries {
  color: #f8bf05;
}

.item h4 {
  margin: 0;
}

section {
  padding: 40px 0;
}

section h2 {
  color: #fff;
}

#open {
  padding-top: 0;
}

#open .hours {
  font-size: 20px;
  font-weight: bold;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #ffffff;
}

#social .container a:not(:first-child) {
  margin-left: 10px;
}

a:hover {
  opacity: 0.5;
}

footer {
  background-color: #040404;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin-top: 50px;
}
