body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.row {
  max-width: 100vw;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 37% 26% 37%;
}

.column {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 1vw;
}

.row .column:first-child {
  border-left: 1vw solid #ffcb30;
}

.row .column:last-child {
  border-right: 1vw solid #ffcb30;
}

.background-color-black {
  background-color: #000000;
}

.background-color-yellow {
  background-color: #ffcb30;
}

.menu-section {
  font-size: 15px;
}

.menu-section {
  color: #ffffff;
  font-size: 2vw;
}

.menu-section-title {
  color: #ffcb30;
  font-weight: 700;
  font-size: 3vw;
}

.menu-section-title-underline {
  width: 3vw;
  border: 0.5vw solid #ffcb30;
  margin-left: 0;
}

.menu-item-list {
  list-style-type: none;
  padding: 0;
  padding-bottom: 1em;
  margin: 0;
}

.menu-item {
  padding-bottom: 1em;
}

.menu-item-name {
  font-weight: 700;
}

.menu-item-price {
  float: right;
}