body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.row {
  max-width: 100vw;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 37% 26% 37%;
  min-height: 100vh;
}

.column {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 1vw;
}

.row .column:first-child {
  border-left: 1vw solid #FF9725;
}

.row .column:last-child {
  border-right: 1vw solid #FF9725;
}

.column.center {
  text-align: center;
}

.column.center img{
  max-width: 90%;
}

.background-color-black {
  background-color: #000000;
}

.background-color-yellow {
  background-color: #FF9725;
}

.menu-section {
  font-size: 15px;
}

.menu-section {
  color: #ffffff;
  font-size: 2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.menu-section-title {
  color: #FF9725;
  font-weight: 700;
  font-size: 3vw;
}

.menu-section-title-underline {
  width: 4vw;
  border: 0.3vw solid #FF9725;
  margin-left: 0;
}

.menu-item-list {
  list-style-type: none; 
  font-size: 2vw;
  padding: 0;
  padding-bottom: 1em;
  margin: 0;
}

.menu-item {
  padding-bottom: 1em;
}

.menu-item-name {
  font-weight: 700;
}

.menu-item-price {
  float: right;
}

.veggie-logo {
  width: 1em;
}

#logo {
  margin-bottom: 1em;
}

#burgers {
  background-image: url("assets/burger.svg");
}

#street-food {
  background-image: url("assets/taco.svg");
}

#kids {
  background-image: url("assets/kids.svg");
}

#fries-and-sides {
  background-image: url("assets/fries.svg");
}

#drinks-and-shakes {
  background-image: url("assets/shake.svg");
}

#sauces-and-dips {
  background-image: url("assets/sauce.svg");
}

#veggie {
  font-size: 2vw;
  padding: 2em 1em 3em 1em;
}

#open-hours {
  font-size: 2vw;
  color: #2e2e2e;
  font-weight: bold;
  padding: 2em 0 1em 0;
}

#open-hours span {
  font-size: 3vw  ;
}

#great-vibes {
 font-family: 'Dancing Script', cursive;
 color: white;
 font-size: 8vw;
 text-align: center;
 animation: glow 1s ease-in-out infinite alternate;
}

#offers {
  font-size: 2vw;
  color: #2e2e2e;
  font-weight: bold;
  padding: 2em 0 1em 0;
}

#follow img {
  padding-top: 2em;
}

#follow:hover {
  opacity: 0.5;
}

.button {
  padding-top: 1rem;
  text-align: center;



}



.button a{
  background-color: #2e2e2e;
  border: solid #FF9725 0.3vw;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 1vw 2vw;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  border-radius: 3vw;
  width: 16vw;
}

.button:hover {
  opacity: 0.5;
}

@keyframes glow {
  from{
   text-shadow: 0 0 1vw #ff9725, 0 0 2vw #ff9725, 0 0 6vw #ff9725, 0 0 4vw #ff9725, 0 0 5vw #ff9725
  }
  to {
    text-shadow: 0 0 6vw #ff9725, 0 0 7vw #ff9725;
  }
}
.red {
  color: red;
}

.blue {
  color: blue;
}

